/* Style the tab 
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }*/
  #foodimg {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .Tabs {
    width: 100%;
    height: auto;
    min-height: 400px;
    background: #053742;
    color: #E8F0F2;
    padding-bottom: 100px;
   }
   ul.nav {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav li {
    width: 100%; /* Adjusted to evenly distribute three tabs */
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-radius: 0; /* Removed border-radius for even distribution */
  }
  
  ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  
  ul.nav li.active {
    border-bottom: 2px solid #39A2DB;
    font-weight: bold;
  }

  ul.nav li:not(.active) {
    border-bottom: none;
  }
 /* ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }*/
.FirstTab p,
.SecondTab p,
.ThirdTab p {
  font-size: 2rem;
  text-align: center;
}

#icons {
  list-style: none;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.titleinfo {
  width: 100%;
  background: #053742; /* Background color applied to the titleinfo div */
  color: #E8F0F2;
  padding-bottom: 40px;
  padding: 20px 0;
}

.titleinfo h1 {
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.description {
  background: #053742; /* Background color applied to the titleinfo div */
  color: #E8F0F2;
  padding: 20px;
}

.description h4 {
  color: grey;
  font-weight: normal;
}

.description p {
  font-size: medium;
}

.iconsimg {
  width: 50px;
  height: 50px;
}